main h3 {
    font-size: 28px;
}
main p {
    font-weight: bold;
    padding: 2px;
}

main {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    height: 500px;
}
.fav-recipe {
    padding: 20px;
    position: absolute;
    height: 400px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.fav-recipe:first-child {
    left: 5%;
}

.fav-recipe:last-child {
    right: 5%;
}
main ul {
    position: absolute;
    left: 0px;
}
main ol {
    position: absolute;
    left: 50%;
}