html{
    margin: 0px;
}
body {
    background-color: white;
    margin: 10px;
    
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 65px;
    text-align:center;
    color: rgb(68, 25, 5)
}

img{height: 125px;
    width:100%;
}

nav li {
    box-sizing: border-box;
    display:inline-block;
    list-style-type: none;
    padding-left: 170px;
    line-height: 42px;
    overflow: hidden;
    background-color: rgb(15, 82, 161);
    width: 33%;
    border-radius: 10px;
}
a{
    color: white;
}

#pick-cookie{
    display:inline-block;
    padding-top:20px;
    padding-left:400px;
    color: rgb(70, 33, 9);
    /* border-style: groove;
    border-width: thick;
    border-color: gray; */
}

#order-box {border-style: groove;
    border-width: thick;
    border-color: gray;
    margin-top:20px;
}



#pick-cookie img {
    position: absolute;
    height: 275px;
    width: 275px;
    top: 260px;
    left: 700px;
    border-style: groove;
    border-width: thick;
    border-color: gray;
    border-radius: 5px;
    margin-top: 20px;
}
 
.bottom-line{
    position: relative;
    top:300px;
}
.list{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}


/* ANIMATION */
#cookie1 {
    background-color: tan;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
} 

#cookieImg {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;


}

#cookie1 .chocolate {
    
}

#cookie1 .sugar {

}

#cookie1 .oatmeal{

}

#topping1 {
    border-radius: 50%;
    height: 190px;
    width: 190px;
    margin: 5px;
    background-color: blue;
    position: absolute;
}

#topping2 {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 10px;
    background-color: yellow;
    position: absolute;

}

#topping1 .none {
    background-color: transparent;
}

#topping2 .none {
    background-color: transparent;
}