html{
    margin: 0px;
}
body {
    background-color: white;
    margin: 10px;
    
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 65px;
    text-align:center;
    color: rgb(68, 25, 5)
}

/* h1 {
    position: absolute;
    margin-top: 30vh;
    width: 100%;
    text-align: center;
    font-size: 333%;
    font-family: sans-serif;
    color: grey;
    opacity: 0.8;
  } */
  
  canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }
  
img{height: 125px;
    width:100%;
}

nav li {
    box-sizing: border-box;
    display:inline-block;
    list-style-type: none;
    padding-left: 170px;
    line-height: 42px;
    overflow: hidden;
    background-color: rgb(15, 82, 161);
    width: 33%;
    border-radius: 10px;
}
a{
    color: white;
}

#topping-container {
    display: flex;
    justify-content: space-around;
}

#selected-add-ons {
    width: 300px;
    border: 2px dashed black;
    height: 500px;
}

#pantry {
    display: flex;
    flex-direction: column;
    border: 2px dashed black;
    width: 300px;
    position: relative;
    height: 500px;
}

#pantry li, #selected-add-ons li {
    border: 2px solid black;
    padding: 0.5em;
}

#pantry li {
    margin: 1em;
}

#pick-cookie{
    display:inline-block;
    padding-top:20px;
    padding-left:400px;
    color: rgb(70, 33, 9);
    /* border-style: groove;
    border-width: thick;
    border-color: gray; */
}

#pick-cookie ul{border-style: groove;
    border-width: thick;
    border-color: gray;
    margin-top:20px;
}

#pick-cookie img {
    position: absolute;
    height: 275px;
    width: 275px;
    top: 260px;
    left: 700px;
    border-style: groove;
    border-width: thick;
    border-color: gray;
    border-radius: 5px;
    margin-top: 20px;
}
 
.bottom-line{
    position: relative;
    top:300px;
}
.list{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}